/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ---------------------------- css reset ------------------------ */

/* html, body, header, nav, h1, h3, h5, hgroup, a,
ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  display: inherit;
} */

/* ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
} */

h1 {
  font: inherit;
}

 html, body, div {
   padding: 0;
   margin: 0;
 }

.welcome-msg {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    padding: 10px;

    position: absolute;
    /* top: -300px; */
    top: 175px;
    left: 20vw;

    /* transform: translate(-50%, -50%); */
    text-align: center;
    align-items: center;
    z-index: 1;
}

.background-image {
  position: absolute;
}

.home {
  z-index: 0;
  /* position: relative; */
}

.home-txt-big {
    font-size: 55px;
    /* position: absolute; */
}

.home-txt-small {
    font-size: 21px;
    /* position: absolute; */
}

.sp-bottom {
  top: 500px;
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center; 
  display: flex;
  justify-content: center;
}

.sp-mid {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
}

.mid-top {
  width: 100%;
  height: 250px;
}

.mid-title {
  font-family: din-bold;
  font-size: 35px;
  padding: 35px 20px 10px 20px;
}

.orange-bar {
  height: 10px;
  background-color: orange;
  width: 150px;
  border-radius: 40px;
  margin: auto;
}

.mid-text-container {
  padding: 0px 30% 0px 30%;
}

.mid-text {
  font-size: 18px;
  padding-top: 15px;
}

.sp-container {
  top: 500px;
  width: 100%;
  height: 800px;
  position: absolute;
  background-color: whitesmoke;
  /* overflow-x: hidden; */
  padding-top: 20px;
  text-align: center;
  
}



.sp-bottom-1 {
  height: 250px;
  width: 325px;
  border-radius: 5px;
  box-shadow: 5px 10px 20px #888888;
  
}

.sp-bottom-2 {
  position: relative;
  top: 50px;
  height: 250px;
  width: 325px;
  margin: 0px 80px 0px 80px;
  border-radius: 5px;
  box-shadow: 5px 10px 20px #888888;
}

.sp-bottom-3 {
  height: 250px;
  width: 325px;
  border-radius: 5px;
  box-shadow: 5px 10px 20px #888888;
}

.graphic {
  font-size: 100px;
  margin: 40px 20px 15px 20px;
}

.gaphic-text {
  font-family: din-medium;
  font-size: 18px;
  margin: 20px;
}