/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
 .btn-blue {
     right: 10;
     align-self: flex-end;
     color:white;
     background-color: blue;
     padding: 3px;
     border-radius: 3px;
    }
    
.btn {
        align-self: flex-end;
        color:white;
        background-color: gray;
        padding: 3px;
        border-radius: 3px;
    }
    
.nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
    }

.nav-logo {
    width: 43px;
    height: 43px;
   }

.nav-parent {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-parent {
    display: flex;
    flex-direction: row;
}

.background-img {
    width: 100vw;
    height: auto;
}

.session-form {
    border-radius: 3px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);
}

.welcome-msg {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.questions-btn {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: orange;
    color: white;
    align-self: center;
}

.session-form-form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
}

.errors-txt {
    color: red;
}