
.questions-page {
    position: fixed;
    top: 47px;
    display: flex;
    flex-direction: row;
}

.question-index-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 1px solid #d6d9dc;
    border-bottom: 1px; */
}

.questions-index {
    background-color: #fff;
    border: 1px solid #d6d9dc;
    border-bottom: 1px;
    padding: 24px;
    width: calc(100% - 164px);
    height: calc(100vh - 48px);
    overflow: scroll;
}

.top-questions{
    font: helvetica;
    font-size: 27px;
}

.question-list {
    list-style-type: none;
    
}