.question-item {
    display: flex;
    flex-direction: row;
    min-width: 500px;
    justify-content: space-between;
}

.question-item-div {
    display: flex;
    flex-direction: column;
    min-width: 44px;
    padding: 6px;
    align-items: flex-end;
    /* justify-content: flex-end; */
}

.stats-div {
    display: flex;
    flex-direction: row;
}

.question-item-div-numbers {
    display: flex;
    flex-direction: row;
    min-width: 44px;
    padding: 6px;
    align-items: center;
}

.gray-txt {
    font: helvetica;
    font-size: 12px;
    color: #9199a1;

}

.little-gray-txt {
    font: helvetica;
    font-size: 11px;
    color: #848d95;
}

.number-gray-txt {
    font: helvetica;
    font-size: 17px;
    color: #848d95;
}